/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* Variables */

:root {
  --white: #FFFFFF;
  --lighter-gray: #E1E1E1;
  --light-gray: #EEEEEE;
  --dark-gray: #4D4D4D;
  --darker-gray: #283136;  
  --black: #000000;
  --light-red: #FB565A;
  --red: #E74246;
  --dark-red: #D7373B;
  --light-green: #00CA74;
  --green: #00BC6C;
  --dark-green: #00AA62;
  --darker-green: #01A25E;
  --light-yellow: #EFC84A;
  --yellow: #EAB534;
  --dark-yellow: #E5A722;
  
  /* features */
  
  --button-light-gray: #DFDFDF;
  --button-gray: #D5D5D5;
  --button-darker-gray: #888888;
  --button-active-border: #DBDBDB;
  --icon-gray: #A6A6A6;
  --icon-black: #231F20;
  --login-border-hover: #D7DCDE;
  --login-border: #B4B9BB;  
  --login-text-focus: #444444;
  --img-hover-description: #666666;
  --img-background: #F2F2F2;

  }

  /* Global */

  body {
    min-height: 100%;
    min-width: 960px;
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--darker-gray);
    background-color: transparent;
    letter-spacing: 0px;
  }

  a {
    text-decoration: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  .visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important; 
    width: 1px !important; 
    overflow: hidden;
  }
  /* Grid */

  .page {
    height: 100%;
  }

  .page-body {
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }

  .main-header {
    margin-bottom: 70px;
  }

  .main-navigation {
    font-family: "Roboto", "Arial", "sans-serif";
    font-weight: 500;
    line-height: 30px;
  }
  
  .header {
    background-color: var(--light-gray);
  }

  .main-header-logo {
    margin: 140px;
  }

  .site-navigation {
    display: grid;
    list-style-type: none;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1 / -1; 
    background-color: var(--light-gray);
  }

  .site-navigation li {
    display: inline-block;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0px;
    text-align: left;
    text-transform: uppercase;
    margin: 45px;
  }


  .site-navigation-wrapper {
    text-align: center;
    display: block;
    padding: 16px;
  }
    
  .site-navigation a {
  color: var(--black);
  font-weight: 500;
  line-height: 30px;
  }
  
  .site-navigation a:focus {
    opacity: 0,3;
  }

  .site-navigation a:hover {
    color: var(--light-red);
  }

  /* Features */

  .features {
    background-color: var(--light-gray)
  }

  .features h3 {
  position: absolute;
  width: 538px;
  height: 111px;


  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  align-items: center;
}

.features p {
  position: absolute;
  width: 400px;
  height: 49px;

  align-items: center;
  color: var(--darker-gray);
}

.features-list {
  list-style: none;
  display: grid;
  grid-template-columns: 397px auto;
  grid-template-rows: 431px;
}

.features-list li {
  grid-column: 1;
}

.header-slider {
  grid-column: -1;
}

.index-columns {
  list-style: none;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 149px; 
}

.index-columns h3 {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  
}

.offers {
  list-style: none;
  padding-left: 140px;
  padding-top: 80px;
}

.offers-list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}

.offers h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.index-columns h4 {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.percent li {
  font-size: 45px;
  font-weight: 700;
  line-height: 64px;
  list-style: none;
}

.percent-symbol {
  font-size: 26px;
  font-weight: 700;
  line-height: 40px;
}

.percent p {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.about {
  list-style: none;
  padding-left: 140px;
}

.percent {
  list-style: none;
}

/* partners */

.partners {
  list-style: none;
}

.partners-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  list-style: none;
}

.partners img {
  opacity: 20%;
}

.contacts {
  background-image: url("..img/map 1");
}

.contacts h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px; 
}

.contacts p {
  font-weight: 400;
  line-height: 18px;
}

.footer-social {
  list-style: none;
}

.footer-social h2 {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
}

.footer-social p {
  line-height: 22px;
}

/* Button */

.button {
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  color: var(--white);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--light-red);
  border: none;
}

.button:hover {
  background-color: var(--red);
}

.button:focus {
  background-color: var(--dark-red)
}

.offers-apps .button {
  background-color: var(--light-green);
}

.offers-presentations .button {
  background-color: var(--light-yellow);
}

.offers-apps .button:hover {
  background-color: var(--green);
}

.offers-presentations .button:hover {
  background-color: var(--yellow);
}

.offers-apps .button:focus {
  background-color: var(--dark-green);
  opacity: 30%;
}

.offers-presentations .button:focus {
  background-color: var(--dark-yellow);
  opacity: 30%;
}

.header a:hover {
  color: var(--light-red);
}

.header a:focus {
  color: var(--black);
  opacity: 30%;
}

.header a:hover {
  color: var(--light-red);
}

.header a:active {
  text-decoration: underline;
  text-decoration-color: var(--light-red);
}

.main-header-logo a:focus {
  opacity:30%;
  
}

.partners a {
  opacity:30%;
}

.partners a:hover {
  opacity:100%;
}

.partners a:focus {
  opacity:10%;
}

.footer-social a:hover {
  background-color: var(--red);
}

.footer-social a:focus {
  background-color: var(--dark-red);
  opacity: 30%;
}

/* Catalog */

.button-page {
  background-color: var(--light-gray);
}

.button-page:hover {
  background-color: var(--button-light-gray);
}

.button-page:focus {
  background-color: var(--button-gray);
  opacity: 30%;
}

.button-page:active {
  background-color: var(--white);
  border-radius: 3px;
  border-color: var(--button-active-border);
}

.button-show {
  background-color: var(--light-gray);
}

.button-show:hover {
  background-color: var(--button-light-gray);
}

.button-show:focus {
  background-color: var(--button-gray);
  opacity: 30%;
}

.inner-page h2 {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.inner-page h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.sort li {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 30%;
}

.sort li:active {
  opacity: 100%;
}

.filter li {
line-height: 19px;
color: var(--darker-gray);
}

.filter p {
  line-height: 22px;
  text-transform: uppercase;
  color: var(--darker-gray);
}

.products p {
  line-height: 18px;
  text-align: center;
  color: var(--img-hover-description)
}

.circle {
  width: 79px;
  height: 79px;
  background-color: var(--lighter-gray);
  border-radius: 50%;
  display: flex;
}

.circle svg {
  margin: auto;
}